## First EDA processing 📊

#### 1. Importing libraries

In [72]:
#Data-sets management:
import pandas as pd
import numpy as np
import datetime
pd.set_option('display.max_columns', None)

In [73]:
#Dataset:
best = pd.read_csv('Data/books_1.Best_Books_Ever.csv')

#### 2. Initial EDA
- Fixing data types
- Dealing with nulls 
- Checking columns 
- Check Missing data
- [...]
- Export the dataset with the changes

In [74]:
best.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52478 entries, 0 to 52477
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bookId            52478 non-null  object
 1   title             52478 non-null  object
 2   series            23470 non-null  object
 3   author            52478 non-null  object
 4   rating            52478 non-null  float64
 5   description       51140 non-null  object
 6   language          48672 non-null  object
 7   isbn              52478 non-null  object
 8   genres            52478 non-null  object
 9   characters        52478 non-null  object
 10  bookFormat        51005 non-null  object
 11  edition           4955 non-null   object
 12  pages             50131 non-null  object
 13  publisher         48782 non-null  object
 14  publishDate       51598 non-null  object
 15  firstPublishDate  31152 non-null  object
 16  awards            52478 non-null  object
 17  numRatings        52478 non-null  int64
 18  ratingsByStars    52478 non-null  object
 19  likedPercent      51856 non-null  float64
 20  setting           52478 non-null  object
 21  coverImg          51873 non-null  object
 22  bbeScore          52478 non-null  int64
 23  bbeVotes          52478 non-null  int64
 24  price             38113 non-null  object
dtypes: float64(2), int64(3), object(20)
memory usage: 10.0+ MB

In [75]:
best.describe()

             rating    numRatings  likedPercent      bbeScore      bbeVotes
count  52478.000000  5.247800e+04  51856.000000  5.247800e+04  52478.000000
mean       4.021878  1.787865e+04     92.231545  1.984023e+03     22.529003
std        0.367146  1.039448e+05      5.990689  3.515314e+04    369.158541
min        0.000000  0.000000e+00      0.000000  0.000000e+00     -4.000000
25%        3.820000  3.410000e+02     90.000000  8.400000e+01      1.000000
50%        4.030000  2.307000e+03     94.000000  9.700000e+01      1.000000
75%        4.230000  9.380500e+03     96.000000  1.870000e+02      2.000000
max        5.000000  7.048471e+06    100.000000  2.993816e+06  30516.000000

In [76]:
best.shape

(52478, 25)

In [77]:
best.head()

,bookId,title,series,author,rating,description,language,isbn,genres,characters,bookFormat,edition,pages,publisher,publishDate,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",Hardcover,First Edition,374,Scholastic Press,09/14/08,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",Paperback,US Edition,870,Scholastic Inc.,09/28/04,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Paperback,NaN,324,Harper Perennial Modern Classics,05/23/06,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",Paperback,"Modern Library Classics, USA / CAN",279,Modern Library,10/10/00,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",Paperback,NaN,501,"Little, Brown and Company",09/06/06,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1

In [78]:
#Standardize header names
cols = []
for i in range(len(best.columns)):
    cols.append(best.columns[i].lower())
best.columns = cols

In [79]:
best.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52478 entries, 0 to 52477
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bookid            52478 non-null  object
 1   title             52478 non-null  object
 2   series            23470 non-null  object
 3   author            52478 non-null  object
 4   rating            52478 non-null  float64
 5   description       51140 non-null  object
 6   language          48672 non-null  object
 7   isbn              52478 non-null  object
 8   genres            52478 non-null  object
 9   characters        52478 non-null  object
 10  bookformat        51005 non-null  object
 11  edition           4955 non-null   object
 12  pages             50131 non-null  object
 13  publisher         48782 non-null  object
 14  publishdate       51598 non-null  object
 15  firstpublishdate  31152 non-null  object
 16  awards            52478 non-null  object
 17  numratings        52478 non-null  int64
 18  ratingsbystars    52478 non-null  object
 19  likedpercent      51856 non-null  float64
 20  setting           52478 non-null  object
 21  coverimg          51873 non-null  object
 22  bbescore          52478 non-null  int64
 23  bbevotes          52478 non-null  int64
 24  price             38113 non-null  object
dtypes: float64(2), int64(3), object(20)
memory usage: 10.0+ MB

In [80]:
#Price column: convert type from object to float, and handle issues with the conversion (after encountering errors)

In [81]:
#Handle NaN values by filling them with an empty string (otherwise It's not possible to change variable type)
best['price'] = best['price'].fillna('')

#Clean the data
best['price'] = best['price'].str.replace('.', '', regex=False)
best['price'] = best['price'].str.replace(',', '.', regex=False)

#If  there are empty strings  after cleaning, replace them with NaN (will be dealed with after considering each case)
best['price'] = best['price'].replace('', float('nan'))

#Finally Convert to float
best['price'] = best['price'].astype(float)

In [82]:
#Check if the result is as expected:
print(best['price'].dtype)

float64

In [83]:
#Pages column: convert to integer, handle errors encountered such as non-numeric characters present in some observations.

In [84]:
#Remove non-numeric characters with regex
best['pages'] = best['pages'].str.extract('(\d+)', expand=False)

#As before, fill NaN values with a default value. (`0`values will be dealed with after considering each case)
best['pages'] = best['pages'].fillna(0)

#Convert the column to integers
best['pages'] = best['pages'].astype(int)

In [85]:
#Check if the result is as expected:
print(best['pages'].dtype)

int32

In [86]:
#Publishdate and firstpublishdate columns: from object (string) format to datetime format:

In [87]:
# Check problematic entries for 'publishdate'
problematic_publishdate = best[~best['publishdate'].apply(pd.to_datetime, errors='coerce').notna()]
print("Problematic publishdate entries:")
print(problematic_publishdate)

Problematic publishdate entries:
                                                  bookid  \
115                        36576608-flowers-for-algernon
231                        8130077-the-screwtape-letters
1623                             17899134-annabel-horton
2271                     43251704-to-dream-the-blackbane
2281                                1772910.White_Nights
...                                                  ...
52278                                           18212963
52289               22104192-baseball-s-great-experiment
52307                      1503411.The_Story_Of_Painting
52359                           18130046-ender-in-flight
52407  2823038-forever-young-forever-free-forever-you...

                                                   title  \
115                                 Flowers for Algernon
231                                The Screwtape Letters
1623                 Annabel Horton: Lost Witch of Salem
2271                              To Dream the Blackbane
2281                                        White Nights
...                                                  ...
52278                                              Поэмы
52289  Baseball's Great Experiment: Jackie Robinson a...
52307                              The Story Of Painting
52359                                    Ender in Flight
52407  Forever Young, Forever Free Forever Young, For...

                           series                             author  rating  \
115                           NaN                       Daniel Keyes    4.14
231                           NaN                         C.S. Lewis    4.22
1623                          NaN  Vera Jane Cook (Goodreads Author)    4.33
2271                          NaN                 Richard J. O'Brien    4.54
2281                          NaN                 Fyodor Dostoyevsky    4.02
...                           ...                                ...     ...
52278                         NaN                  Alexander Pushkin    4.31
52289                         NaN                       Jules Tygiel    4.16
52307                         NaN                      Wendy Beckett    3.96
52359  Ender's Saga short stories                   Orson Scott Card    4.35
52407                         NaN                       Hettie Jones    3.67

                                             description language  \
115    The story of a mentally disabled man whose exp...  English
231    The Screwtape Letters by C.S.  Lewis is a clas...  English
1623   Annabel Horton is hanged on Gallows Hill in Sa...  English
2271   A cosmic event in 2015 fused Earth with the fa...  English
2281   White Nights, is a short story by Fyodor Dosto...  English
...                                                  ...      ...
52278  Литературная репутация Пушкина складывалась во...  Russian
52289  In this gripping account of one of the most im...  English
52307  Guía esencial para conocer la historia del art...      NaN
52359  "Ender in Flight" is a story by Orson Scott Ca...  English
52407                                                NaN      NaN

                isbn                                             genres  \
115    9999999999999  ['Fiction', 'Classics', 'Science Fiction', 'Yo...
231       B002BD2V2Y  ['Fiction', 'Classics', 'Christian', 'Religion...
1623   9781619370241  ['Contemporary', 'Epic', 'Paranormal', 'Witche...
2271   9999999999999  ['Contemporary', 'Fiction', 'Novels', 'Book Cl...
2281   9999999999999  ['Classics', 'Fiction', 'Russian Literature', ...
...              ...                                                ...
52278  9785389031357  ['Poetry', 'Classics', 'Russia', 'Russian Lite...
52289  9780195106206  ['Baseball', 'Sports', 'Nonfiction', 'History'...
52307  9780751311891  ['Art', 'Nonfiction', 'History', 'Reference', ...
52359  9999999999999  ['Science Fiction', 'Fiction', 'Young Adult', ...
52407  9999999999999                                                 []

                                              characters      bookformat  \
115                  ['Charlie Gordon', 'Alice Kinnian']             NaN
231    ['Screwtape', 'Wormwood', 'The Patient', 'Scre...  Kindle Edition
1623                                                  []       Paperback
2271                                                  []           ebook
2281                                        ['Nastenka']       Paperback
...                                                  ...             ...
52278                                                 []       Paperback
52289                                ['Jackie Robinson']       Paperback
52307                                                 []             NaN
52359                                                 []             NaN
52407                                                 []       Paperback

                        edition  pages          publisher publishdate  \
115                         NaN    216                NaN         NaN
231                         NaN    228                NaN         NaN
1623                      promo    402               Musa   Published
2271                        NaN    261  Between the Lines   Published
2281                        NaN     82                NaN         NaN
...                         ...    ...                ...         ...
52278               pocket-book    352    Азбука-Классика   Published
52289  25th Anniversary Edition      0                NaN         NaN
52307                       NaN    736                NaN         NaN
52359                       NaN      0                NaN         NaN
52407                       NaN      0                NaN         NaN

      firstpublishdate                                             awards  \
115           04/28/59  ['Hugo Award Nominee for Best Novel (1967)', '...
231           10/28/42  ['Nautilus Book Award for Audio Books & Spoken...
1623          12/22/11                                                 []
2271               NaN                                                 []
2281          10/28/48                                                 []
...                ...                                                ...
52278             1821                                                 []
52289   July 28th 1983                                                 []
52307  March 15th 1994                                                 []
52359              NaN                                                 []
52407              NaN                                                 []

       numratings                                  ratingsbystars  \
115        478318  ['202947', '168968', '82223', '18584', '5596']
231        331949   ['166809', '99721', '45260', '12854', '7305']
1623          272                  ['120', '133', '10', '6', '3']
2271          569                   ['311', '253', '4', '1', '0']
2281        48899      ['17211', '18742', '10189', '2228', '529']
...           ...                                             ...
52278         730                ['376', '227', '106', '16', '5']
52289         357                 ['150', '130', '62', '13', '2']
52307        4134            ['1828', '998', '828', '289', '191']
52359         133                    ['66', '51', '14', '1', '1']
52407           3                                              []

       likedpercent                                            setting  \
115            95.0        ['New York City, New York (United States)']
231            94.0                                                 []
1623           97.0                                                 []
2271          100.0                                                 []
2281           94.0  ['Saint Petersburg (Russian Federation)', 'Imp...
...             ...                                                ...
52278          97.0                                                 []
52289          96.0                                                 []
52307          88.0                                                 []
52359          98.0                                                 []
52407           NaN                                                 []

                                                coverimg  bbescore  bbevotes  \
115    https://i.gr-assets.com/images/S/compressed.ph...    142450      1657
231    https://i.gr-assets.com/images/S/compressed.ph...     57947       714
1623   https://i.gr-assets.com/images/S/compressed.ph...      2766        31
2271   https://i.gr-assets.com/images/S/compressed.ph...      1686        19
2281   https://i.gr-assets.com/images/S/compressed.ph...      1675        20
...                                                  ...       ...       ...
52278  https://i.gr-assets.com/images/S/compressed.ph...         5         1
52289  https://i.gr-assets.com/images/S/compressed.ph...         5         1
52307  https://i.gr-assets.com/images/S/compressed.ph...         4         1
52359                                                NaN         3         1
52407                                                NaN         2         1

       price
115      NaN
231      NaN
1623     NaN
2271     NaN
2281     NaN
...      ...
52278  800.0
52289  374.0
52307  213.0
52359    NaN
52407    NaN

[1785 rows x 25 columns]

In [88]:
#Replacing the problematic entries with NaT (missing)
best['publishdate'] = best['publishdate'].apply(lambda x: pd.NaT if pd.to_datetime(x, errors='coerce') is pd.NaT else x)

In [89]:
#Convert columns to datetime format, handling errors with 'coerce'
best['publishdate'] = pd.to_datetime(best['publishdate'], errors='coerce')

C:\Users\Elsa\AppData\Local\Temp\ipykernel_12852\2759503502.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  best['publishdate'] = pd.to_datetime(best['publishdate'], errors='coerce')

In [90]:
#Check if the result is as expected:
print(best['publishdate'].dtype)

datetime64[ns]

In [91]:
#Same process to checj problematic entries this time for 'firstpublishdate'
problematic_firstpublishdate = best[~best['firstpublishdate'].apply(pd.to_datetime, errors='coerce').notna()]
print("Problematic firstpublishdate entries:")
print(problematic_firstpublishdate)

Problematic firstpublishdate entries:
                                      bookid                            title  \
0                   2767052-the-hunger-games                 The Hunger Games
10           11870085-the-fault-in-our-stars           The Fault in Our Stars
26     22628.The_Perks_of_Being_a_Wallflower  The Perks of Being a Wallflower
28                      256683.City_of_Bones                    City of Bones
30                          4667024-the-help                         The Help
...                                      ...                              ...
52465                  6403092-arafel-s-saga                    Arafel's Saga
52467                    40510415-undetected                       Undetected
52468                 33852466-nameless-fate                    Nameless Fate
52473                     11492014-fractured                        Fractured
52477           10991547-daughter-of-helaman              Daughter of Helaman

                            series                               author  \
0              The Hunger Games #1                      Suzanne Collins
10                             NaN        John Green (Goodreads Author)
26                             NaN                      Stephen Chbosky
28       The Mortal Instruments #1   Cassandra Clare (Goodreads Author)
30                             NaN  Kathryn Stockett (Goodreads Author)
...                            ...                                  ...
52465                  Arafel #1-2      C.J. Cherryh (Goodreads Author)
52467  Treasure Hunter Security #8      Anna Hackett (Goodreads Author)
52468                Fated Mate #1    Stephanie West (Goodreads Author)
52473                   Fateful #2     Cheri Schmidt (Goodreads Author)
52477         Stripling Warrior #1      Misty Moncur (Goodreads Author)

       rating                                        description language  \
0        4.33  WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...  English
10       4.21  Despite the tumor-shrinking medical miracle th...  English
26       4.20  standing on the fringes of life...offers a uni...  English
28       4.10  When fifteen-year-old Clary Fray heads out to ...  English
30       4.47  Librarian's note: An alternate cover edition c...  English
...       ...                                                ...      ...
52465    3.69  Journey to a transitional time in the world, a...  English
52467    4.56  Darcy Ward has sold her soul to the devil. Oka...  English
52468    3.93  Harper might get an uncanny gut feeling every ...  English
52473    4.00  The Fateful Trilogy continues with Fractured. ...  English
52477    4.02  Fighting in Helaman's army is Keturah's deepes...  English

                isbn                                             genres  \
0      9780439023481  ['Young Adult', 'Fiction', 'Dystopia', 'Fantas...
10     9999999999999  ['Young Adult', 'Romance', 'Fiction', 'Contemp...
26     9999999999999  ['Young Adult', 'Fiction', 'Contemporary', 'Co...
28     9781416914280  ['Fantasy', 'Young Adult', 'Paranormal', 'Roma...
30     9999999999999  ['Fiction', 'Historical Fiction', 'Historical'...
...              ...                                                ...
52465  9781111493820  ['Fantasy', 'Fiction', 'Science Fiction Fantas...
52467     B07DN75RP3  ['Romance', 'Contemporary', 'Romantic Suspense...
52468     B01N229SV0  ['Aliens', 'Science Fiction', 'Romance', 'Erot...
52473  2940012616562  ['Vampires', 'Paranormal', 'Young Adult', 'Rom...
52477  9781599554976  ['Lds Fiction', 'Historical Fiction', 'Young A...

                                              characters      bookformat  \
0      ['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...       Hardcover
10     ['Hazel Grace Lancaster', 'Augustus Waters', '...       Hardcover
26     ['Bill', 'Patrick Grogan', 'Charlie Scorsoni (...       Paperback
28     ['Alexander "Alec" Lightwood', 'Jonathan "Jace...       Hardcover
30     ['Constantine Bates', 'Eugenia “Skeeter” Phela...       Hardcover
...                                                  ...             ...
52465                                                 []             NaN
52467                                                 []  Kindle Edition
52468                                                 []  Kindle Edition
52473                                                 []            Nook
52477                                                 []       Paperback

                                                 edition  pages  \
0                                          First Edition    374
10                                                   NaN    313
26     1st MTV/Pocket Books trade paperback edition (...    213
28                                                   NaN    485
30                                                   NaN    451
...                                                  ...    ...
52465                                                NaN    408
52467                                                NaN    222
52468                                                NaN    445
52473                                                NaN      0
52477                                                NaN    201

                                  publisher publishdate firstpublishdate  \
0                          Scholastic Press  2008-09-14              NaN
10                             Dutton Books  2012-01-10              NaN
26                   MTV Books/Pocket Books  1999-02-28              NaN
28              Margaret K. McElderry Books  2007-03-27              NaN
30     Amy Einhorn Books/G.P. Putnam's Sons  2009-02-10              NaN
...                                     ...         ...              ...
52465                Nelson Doubleday, Inc.  1983-01-01              NaN
52467                                   NaN  2018-09-04              NaN
52468                                   NaN  2017-01-12              NaN
52473                         Cheri Schmidt  2011-05-28              NaN
52477                            Bonneville  2011-05-08              NaN

                                                  awards  numratings  \
0      ['Locus Award Nominee for Best Young Adult Boo...     6376780
10     ['Georgia Peach Book Award (2013)', 'Buxtehude...     3550714
26                                                    []     1250155
28     ['Locus Award Nominee for Best First Novel (20...     1617465
30     ['Orange Prize Nominee for Fiction Longlist (2...     2164011
...                                                  ...         ...
52465  ['World Fantasy Award Nominee for Best Novella...        1070
52467                                                 []         651
52468                                                 []         508
52473                                                 []         871
52477                                                 []         246

                                          ratingsbystars  likedpercent  \
0      ['3444695', '1921313', '745221', '171994', '93...          96.0
10     ['1784471', '1022406', '512574', '150365', '80...          93.0
26      ['599617', '392068', '188162', '50631', '19677']          94.0
28      ['745774', '465337', '271968', '87611', '46775']          92.0
30     ['1300564', '636115', '176679', '34643', '16010']          98.0
...                                                  ...           ...
52465                 ['283', '338', '313', '102', '34']          87.0
52467                     ['414', '191', '43', '3', '0']         100.0
52468                   ['182', '181', '91', '36', '18']          89.0
52473                  ['311', '310', '197', '42', '11']          94.0
52477                     ['106', '73', '42', '17', '8']          90.0

                                                 setting  \
0      ['District 12, Panem', 'Capitol, Panem', 'Pane...
10     ['Indianapolis, Indiana (United States)', 'Ams...
26          ['Pittsburgh, Pennsylvania (United States)']
28           ['New York City, New York (United States)']
30     ['Jackson, Mississippi (United States)', 'Jack...
...                                                  ...
52465                                                 []
52467                                                 []
52468                                                 []
52473                                                 []
52477                                                 []

                                                coverimg  bbescore  bbevotes  \
0      https://i.gr-assets.com/images/S/compressed.ph...   2993816     30516
10     https://i.gr-assets.com/images/S/compressed.ph...   1087056     11287
26     https://i.gr-assets.com/images/S/compressed.ph...    758416      7979
28     https://i.gr-assets.com/images/S/compressed.ph...    721821      7601
30     https://i.gr-assets.com/images/S/compressed.ph...    718236      7693
...                                                  ...       ...       ...
52465  https://i.gr-assets.com/images/S/compressed.ph...         1         1
52467  https://i.gr-assets.com/images/S/compressed.ph...         1         1
52468  https://i.gr-assets.com/images/S/compressed.ph...         1         1
52473  https://i.gr-assets.com/images/S/compressed.ph...         0         1
52477  https://i.gr-assets.com/images/S/compressed.ph...         0         1

       price
0      509.0
10       NaN
26       NaN
28     629.0
30       NaN
...      ...
52465  518.0
52467    NaN
52468    NaN
52473    NaN
52477  520.0

[21343 rows x 25 columns]

In [92]:
#Replacing the problematic entries with NaT (missing)
best['firstpublishdate'] = best['firstpublishdate'].apply(lambda x: pd.NaT if pd.to_datetime(x, errors='coerce') is pd.NaT else x)

In [93]:
#Convert columns to datetime format, handling errors with 'coerce'
best['firstpublishdate'] = pd.to_datetime(best['firstpublishdate'], errors='coerce')

C:\Users\Elsa\AppData\Local\Temp\ipykernel_12852\2100370285.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  best['firstpublishdate'] = pd.to_datetime(best['firstpublishdate'], errors='coerce')

In [94]:
#Check if the result is as expected:
print(best['firstpublishdate'].dtype)

datetime64[ns]

In [95]:
#The column ratingbystars indicates the ratings for 5,4,3,2 and 1 stars like so ['1593642', '637516', '222366', '39573', '14526']
#The idea is to create separated columns for better clarity (more understandable)
#Also for better analysis(avg rating, total ratings, distribution of ratings)

In [96]:
#First (after many tests) let's make sure all values are treated as strings and replace None with '[]' 
best['ratingsbystars'] = best['ratingsbystars'].apply(lambda x: str(x) if x is not None else '[]')

#Then remove the square brackets and split the string into a list of ratings
best['ratingsbystars'] = best['ratingsbystars'].str.strip('[]').str.replace("'", "").str.split(',')

#Changing empty strings or None with '0'
best['ratingsbystars'] = best['ratingsbystars'].apply(lambda x: ['0' if elem.strip() == '' else elem.strip() for elem in x])

#Each list has to have 5 elements (5 ratings)
best['ratingsbystars'] = best['ratingsbystars'].apply(lambda x: x + ['0'] * (5 - len(x)) if len(x) < 5 else x)

#Creating new columns
ratings_df = pd.DataFrame(best['ratingsbystars'].tolist(), index=best.index, columns=['5_star', '4_star', '3_star', '2_star', '1_star'])

#Changing type!
ratings_df = ratings_df.astype(int)

#Merge the new columns back
best = best.drop(columns=['ratingsbystars'])
best = pd.concat([best, ratings_df], axis=1)


print(best.dtypes)

bookid                      object
title                       object
series                      object
author                      object
rating                     float64
description                 object
language                    object
isbn                        object
genres                      object
characters                  object
bookformat                  object
edition                     object
pages                        int32
publisher                   object
publishdate         datetime64[ns]
firstpublishdate    datetime64[ns]
awards                      object
numratings                   int64
likedpercent               float64
setting                     object
coverimg                    object
bbescore                     int64
bbevotes                     int64
price                      float64
5_star                       int32
4_star                       int32
3_star                       int32
2_star                       int32
1_star                       int32
dtype: object

In [97]:
#Dealing with nulls

In [98]:
def calculate_null_percentage(data):
    null_percentage = round(data.isna().sum() / len(data) * 100, 4)
    nulls_df = pd.DataFrame(null_percentage).reset_index()
    nulls_df.columns = ['header_name', 'percent_nulls']
    return nulls_df

In [99]:
calculate_null_percentage(best)

         header_name  percent_nulls
0             bookid         0.0000
1              title         0.0000
2             series        55.2765
3             author         0.0000
4             rating         0.0000
5        description         2.5496
6           language         7.2526
7               isbn         0.0000
8             genres         0.0000
9         characters         0.0000
10        bookformat         2.8069
11           edition        90.5579
12             pages         0.0000
13         publisher         7.0430
14       publishdate         3.4014
15  firstpublishdate        40.6704
16            awards         0.0000
17        numratings         0.0000
18      likedpercent         1.1853
19           setting         0.0000
20          coverimg         1.1529
21          bbescore         0.0000
22          bbevotes         0.0000
23             price        27.3734
24            5_star         0.0000
25            4_star         0.0000
26            3_star         0.0000
27            2_star         0.0000
28            1_star         0.0000

In [100]:
best.sample()

,bookid,title,series,author,rating,description,language,isbn,genres,characters,bookformat,edition,pages,publisher,publishdate,firstpublishdate,awards,numratings,likedpercent,setting,coverimg,bbescore,bbevotes,price,5_star,4_star,3_star,2_star,1_star
14217,998024.The_Politics_of_Obedience,The Politics of Obedience: The Discourse of Vo...,NaN,Étienne de La Boétie,3.94,This classic work of the sixteenth century pol...,English,9781551640884,"['Philosophy', 'Politics', 'Nonfiction', 'Clas...",[],Paperback,NaN,100,Black Rose Books,1998-10-13,2049-10-30,[],3301,92.0,[],https://i.gr-assets.com/images/S/compressed.ph...,177,2,1401.0,1081,1232,729,215,44

About some variables nulls:
- `series `: Since null values indicate that the book is not part of any series, the idea is to replace nulls with a placeholder 
- `description, language, bookFormat, publisher`: replacing null values with a placeholder such as "Unknown" to ensure consistency while acknowledging missing data
- `edition`: given the low number of non-null values the best may be to keep them as this data is not critical. (For now)
- `publishDate, firstPublishDate`: as Nulls in date columns can be tricky. I might fill nulls with a placeholder date such as pd.NaT or None
- `likedPercent, coverImg, price`: For this numerical columns like likedpercent and price, I might replace values with a central tendency measure such as the mean or median ans for coverimg, replace nulls with "No cover available"

In [105]:
#Replacing nulls in 'series' with 'Not part of a series'
best['series'].fillna('Not part of a series', inplace=True)

C:\Users\Elsa\AppData\Local\Temp\ipykernel_12852\4220704026.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  best['series'].fillna('Not part of a series', inplace=True)

In [ ]:
# Replacing nulls in 'description', 'language', 'bookformat', 'publisher' with 'Unknown'
best['description'].fillna('Unknown', inplace=True)
best['language'].fillna('Unknown', inplace=True)
best['bookformat'].fillna('Unknown', inplace=True)
best['publisher'].fillna('Unknown', inplace=True)

In [107]:
#Replacing nulls in 'edition' with 'Unknown'
best['edition'].fillna('Unknown', inplace=True)

C:\Users\Elsa\AppData\Local\Temp\ipykernel_12852\2807792755.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  best['edition'].fillna('Unknown', inplace=True)

In [108]:
#Replacing nulls in 'publishdate' and 'firstpublishdate' with pd.NaT (Not-a-Time)
best['publishdate'].fillna(pd.NaT, inplace=True)
best['firstpublishdate'].fillna(pd.NaT, inplace=True)

C:\Users\Elsa\AppData\Local\Temp\ipykernel_12852\1236928246.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  best['publishdate'].fillna(pd.NaT, inplace=True)
C:\Users\Elsa\AppData\Local\Temp\ipykernel_12852\1236928246.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  best['firstpublishdate'].fillna(pd.NaT, inplace=True)

In [109]:
#Replacing nulls in 'likedpercent' with the mean of the column
best['likedpercent'].fillna(best['likedpercent'].mean(), inplace=True)

C:\Users\Elsa\AppData\Local\Temp\ipykernel_12852\3983185022.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  best['likedpercent'].fillna(best['likedpercent'].mean(), inplace=True)

In [110]:
#Replacing nulls in 'coverimg' with 'No cover available'
best['coverimg'].fillna('No cover available', inplace=True)

C:\Users\Elsa\AppData\Local\Temp\ipykernel_12852\1589934816.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  best['coverimg'].fillna('No cover available', inplace=True)

In [111]:
#Replacing nulls in 'price' with 0 (for now)
best['price'].fillna(0, inplace=True)

C:\Users\Elsa\AppData\Local\Temp\ipykernel_12852\3676938559.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  best['price'].fillna(0, inplace=True)

! The warning above indicates attempting to modify a Pandas DataFrame in a way that may cause unexpected behavior due to chained assignment. Chained assignment occurs when you access and modify a DataFrame or Series in a single line of code, which can lead to setting values on a copy rather than the original object.
I may try it like so:

In [ ]:
'''fill_values = {
    'series': 'Not part of a series',
    'description': 'Unknown',
    'language': 'Unknown',
    'bookformat': 'Unknown',
    'publisher': 'Unknown',
    'edition': 'Unknown',
    'publishdate': pd.NaT,
    'firstpublishdate': pd.NaT,
    'likedpercent': best['likedpercent'].mean(),
    'coverimg': 'No cover available',
    'price': 0
}'''

# Replace null values using the dictionary
#best.fillna(value=fill_values, inplace=True)

In [112]:
datanum= best.select_dtypes(include=np.number)

In [113]:
datanum.head()

,rating,pages,numratings,likedpercent,bbescore,bbevotes,price,5_star,4_star,3_star,2_star,1_star
0,4.33,374,6376780,96.0,2993816,30516,509.0,3444695,1921313,745221,171994,93557
1,4.50,870,2507623,98.0,2632233,26923,738.0,1593642,637516,222366,39573,14526
2,4.28,324,4501075,95.0,2269402,23328,0.0,2363896,1333153,573280,149952,80794
3,4.26,279,2998241,94.0,1983116,20452,0.0,1617567,816659,373311,113934,76770
4,3.60,501,4964519,78.0,1459448,14874,21.0,1751460,1113682,1008686,542017,548674

In [114]:
#Saving all changes up to this point
best.to_csv('best_clean.csv', index=False)